<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>   
    <script>
        if (!localStorage.getItem('CHATAPP-ID') || !localStorage.getItem('CHATAPP-NAME')) {
            swal('Masukkan nama kamu', {
                content: 'input',
            })
            .then((value) => {
                localStorage.setItem('CHATAPP-NAME', value)
                localStorage.setItem('CHATAPP-ID', Math.random().toString(36).substring(2, 15) +
                Math.random().toString(36).substring(2, 15))

                if (localStorage.getItem('CHATAPP-ID')) {
                    swal(`Hai, ${value}! Mari ngobrol bersama!`)

                    setTimeout(() => {
                        window.location.href = '/room'
                    }, 1500)
                }
            })
        } else {
            window.location.href = '/room'
        }
    </script>
</body>
</html>